body {
  background: #060201;
}

.main-header {
  /* background: rgba(0, 0, 0, .5);
  url(../img/backgroundB.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.6) 100%, rgba(0, 0, 0, 0.5)100%), url("../img/backgroundB.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #fff;
}

.main-header .showcase {
  padding-top: 150px;
}

.active-link {
  border-bottom: 2px solid #E31B6D;
  font-weight: bold;
}

.banner-name {
  color: #E31B6D;
}

.two-spaces {
  padding-top: 100px;
  padding-bottom: 100px;
}

.three-spaces {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.headline {
  color: #E31B6D;
}

/*workflow*/

#body-workflow {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container-work {
  position: relative;
  width: 90%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 0 40px;
}

.container-work .box {
  position: relative;
  height: 300px;
  background: #060c25;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.container-work .box:before {
  content: '';
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: #fff;
  z-index: -1;
  transform: skew(2deg, 2deg);
}

.container-work .box:nth-child(1):before {
  background: linear-gradient(315deg, #ffc107, #f5f3ef);
}

.container-work .box:nth-child(2):before {
  background: linear-gradient(315deg, #ffc107, #f5f3ef);
}

.container-work .box:nth-child(3):before {
  background: linear-gradient(315deg, #ffc107, #f5f3ef);
}

.container-work .box:nth-child(4):before {
  background: linear-gradient(315deg, #ffc107, #f5f3ef);
}

.content-box {
  position: relative;
  padding: 20px;
}

.box .content-box h2 {
  position: absolute;
  top: -60px;
  right: 20px;
  margin: 0;
  padding: 0;
  font-size: 5em;
  color: rgba(255, 255, 25, 0.5);
  transition: 0.5s;
}

.box .content-box h3 {
  margin: 0 0 10px;
  padding: 0;
  font-weight: 500;
  color: #fff;

}

.box .content-box p {
  margin: 0;
  padding: 0;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
}

.box .content-box a {
  position: relative;
  margin: 20px 0 0;
  padding: 10px 20px;
  font-weight: 500;
  color: #fff;
  border: 1px solid #fff;
  font-size: 16px;
  display: inline-block;
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
}

.box:hover .content-box a {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

/* 
.gauge-section {
  display: flex;
  height: 40vh;
  justify-content: center;
  align-items: center;
  background: transparent;
  color: black;
}

.gauge-ul {
  display: flex;
  list-style-type: none;
}

.gauge-ul .circle-gauge {
  --gauge-max-value: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.gauge-ul .circle-gauge:nth-child(1) a {
  --percentage: calc(var(--gauge-value) / var(--gauge-max-value) * 100%);
  background: conic-gradient(#e74c3c var(--percentage), #111 0);
}

.gauge-ul .circle-gauge:nth-child(2) a {
  --percentage: calc(var(--gauge-value) / var(--gauge-max-value) * 100%);
  background: conic-gradient(#3498db var(--percentage), #111 0);
}

.gauge-ul .circle-gauge:nth-child(3) a {
  --percentage: calc(var(--gauge-value) / var(--gauge-max-value) * 100%);
  background: conic-gradient(#2ecc71 var(--percentage), #111 0);
}

.gauge-ul .circle-gauge:nth-child(4) a {
  --percentage: calc(var(--gauge-value) / var(--gauge-max-value) * 100%);
  background: conic-gradient(#f1c40f var(--percentage), #111 0);
}

.gauge-ul .circle-gauge:nth-child(5) a {
  --percentage: calc(var(--gauge-value) / var(--gauge-max-value) * 100%);
  background: conic-gradient(#3498db var(--percentage), #111 0);
}

.gauge-ul .circle-gauge:nth-child(6) a {
  --percentage: calc(var(--gauge-value) / var(--gauge-max-value) * 100%);
  background: conic-gradient(#2ecc71 var(--percentage), #111 0);
}

.gauge-ul .circle-gauge:nth-child(7) a {
  --percentage: calc(var(--gauge-value) / var(--gauge-max-value) * 100%);
  background: conic-gradient(#f1c40f var(--percentage), #111 0);
}

.gauge-ul .circle-gauge a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8em;
  height: 8em;
  font-family: Lato, sans-serif;
  text-decoration: none;
  color: white;
  background: transparent;
  border-radius: 50%;
  counter-reset: value var(--gauge-value);
}

.gauge-ul .circle-gauge a::before {
  position: absolute;
  content: counter(value);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background: #222;
  border-radius: inherit;
}

.gauge-ul span {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: black;
}

 */

/*start of about*/
.about-img {
  background-position: center;
  position: relative;
  background-image: url(../img/a.jpg);
  background-size: cover;
  min-width: 100%;
  min-height: 95vh;
}

.section-about {
  /* background: #0d47a1; */
  background: #1565c0;
}

.section-gallery {
  /* background: #0d47a1; */
  background: #212121;
}

.card-box-color {
  background-color: #000000;
}


/* custom css for work part*/

.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}


.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

/* Google Maps*/
.section-contact {
  position: relative;
}

#googlemap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.section-contact .card-panel {
  position: relative;
  z-index: 1;
}